* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid red;
    background-color: greenyellow;
}




body {
    xxxbackground-image: url("chaotic-god-w-antlers.jpg");

    xxxbackground-image: url("freaktal-orange.JPG");

    xxxbackground-size: 100rem;
    background-color: rgb(177, 199, 247);
   
}

.fotema {
    background-color: aquamarine;
}

.fotema p {
    background-color: azure;
}

.fejlec {
    background-color: rgb(246, 246, 190);
    display: flex;
}

.fejlec p {
    background-color: azure;
    
}

.lablec p {
    background-color: azure;
}

.lablec {
    background-color: rgb(129, 129, 194);
}

.fohir {
    width: 400px;
  
.kepek {
    display: inline-block;
}

.fohir.kepek {
    display: inline-block;
}

.menu {
    background-color: red;
    border: 5px blue;
    display:flex;
    
}

.hirek {
    background-color: blue;
}