* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid green;
}




body {
    xxxbackground-image: url("chaotic-god-w-antlers.jpg");

    background-image: url("freaktal-orange.JPG");

    background-size: 1600px;
    xxxxbackground-repeat: repeat;
    background-blend-mode: overlay;
    backface-visibility: visible;
    xxxxxbackground-repeat: round;
    background-repeat:  2 space;
    xxdisplay: flex;
    border: 1px red solid;
    font-size: 32px;
    color: rgb(117, 89, 220);
    xxjustify-content:space-between; 
    display: inline;
    xxxwidth: 600px;
}




.basic-container {
    xxxwidth: 300px;
    xxxbackground-image: url("logo.png");
    border: 1px blue solid;
    xxxbackground-color: #f0ffff80;
    flex-direction: row;
    display: inline;
    xxxjustify-content: space-evenly;
    width: 200px;
     
}

.8logo {
    width: 100px;
    display:flex;
    justify-content: column; 
}


logo {
    width: 200px;
}