* {
    margin: 0;
    padding: 40°%;
    box-sizing: border-box;
    border: 2px solid green;
}




body {
    background-image: url("chaotic-god-w-antlers.jpg");
    display: flex;
    border: 1px red solid;
    font-size: 72px;
    color: rgb(117, 89, 220);
    justify-content:center; 
     display: inline;
}

.1-row-container {
    display:flex;
    justify-content:enabled; 
    display: inline;
}


.basic-container {
    width: 200px;
    height: auto;
    border: 1px blue solid;
    flex-direction: row;
    display: inline;
     
}

