* {
    margin: 0px;
    padding: 0px;
    xxxxbox-sizing: border-box;
    border: 1px solid red;
    background-color: greenyellow;
}




body {
    xxxbackground-image: url("chaotic-god-w-antlers.jpg");

    xxxbackground-image: url("freaktal-orange.JPG");

    background-size: 100rem;
   
}

