* {
    border: 1px red solid;
    background-color: rgb(200, 255, 0);
    margin: 10px;
    padding: 0px;
    background-color: beige;
}

.elso {
    background-color: rgb(191, 21, 225);
}

.masodik {
    background-color: aquamarine;
}

.harmadik {
    background-color: rgb(216, 255, 119);
    xxxalign-items: center;
    align-content: center;
    text-align: center;
    align-self: center;
    overflow: hidden;
    
    
     
}
.column {
    float:left;
    width: 25%;
    margin: 20px 1.15%;
    height: 22px;
    xxbackground-color: rgb(194, 194, 239);
    xxxxxalign-items: center;
    xxxxxalign-content: center;
 
}


.a1a {
    background-color: yellow;
    float:left;
}
.a2a {
    background-color: green;
    float:inline-start


}
.a3a {
    background-color: rgb(157, 0, 0);
    float:right;
}