* {
    border: 1pt, red, solid;
    margin: 40px;
    padding: 10px;
}

.content-box {
    box-sizing: content-box;
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.border-box {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color:yellow;
}